
<section class="col-8">
    <div class="bg-gray text-center">
        <h4>داشبورد</h4>
        <div class="bg-white container">
            <div class="row">
                <div class="col m-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">کل پرسنل</h6>
                            <p class="card-text">@ViewBag.UserCount</p>
                        </div>
                    </div>
                </div>
                <div class="col m-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">پرسنل فعال</h6>
                            <p class="card-text">@ViewBag.UserActive</p>
                        </div>
                    </div>
                </div>
                <div class="col m-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">پرسنل مسدود</h6>
                            <p class="card-text">@ViewBag.UserDeactive</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col m-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">دپارتمان ها</h6>
                            <p class="card-text">@ViewBag.DepartmentCount</p>
                        </div>
                    </div>
                </div>
                <div class="col m-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">دپارتمان های فعال</h6>
                            <p class="card-text">@ViewBag.DepartmentActive</p>
                        </div>
                    </div>
                </div>
                <div class="col m-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">دپارتمان های مسدود</h6>
                            <p class="card-text">@ViewBag.DepartmentDeactive</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
