@model Office_Automation.Views.ViewModels.LetterViewModel
@{
    ViewBag.Title = "محتوای نامه";
}

<section class="col-8">

    <div class="bg-gray text-center">
        <h4>محتویات نامه</h4>
        <div class="bg-white">
            <table class="table table-bordered">
                <tr>
                    <td>از: @ViewBag.sendDepartmentName</td>
                    <td>موضوع نامه: @Model.Title</td>
                    <td>نوع نامه: @Model.Type</td>
                </tr>
                <tr>
                    <td>به: مدیریت آی تی و فناوری اطلاعات</td>
                    <td>شماره نامه: @Model.Number</td>
                    <td>تاریخ: @Model.SendDate</td>
                </tr>
            </table>
            <div class="container text-justify main-content pb-1">
                <p class="pb-2">
                    @Html.Raw(Model.LetterContent)
                </p>
            </div>
        </div>
        <div class="p-2">
            @Html.ActionLink("پاسخ به نامه", "letterCreate", "Letter", null, new { @class = "btn btn-primary" })

            @if (!Model.LetterSave)
            {
                @Html.ActionLink("بایگانی", "SaveLetter", "Letter", new { id = Model.LetterId }, new { @class = "btn btn-primary" })

            }
            else
            {
                @Html.ActionLink("حذف از بایگانی", "UnSaveLetter", "Letter", new { id = Model.LetterId }, new { @class = "btn btn-warning" })
            }
        </div>
    </div>
</section>

