@model IEnumerable<Office_Automation.Views.ViewModels.LetterViewModel>
@{
    ViewBag.Title = "مشاهده تمامی نامه ها";
    int count = 1;
}

<section class="col-8">

    <div class="bg-gray text-center">
        <h4>تمامی نامه ها</h4>
        <div class="bg-white">
            <table class="table">
                <tr class="fw-bold">
                    <td>ردیف</td>
                    <td>موضوع نامه</td>
                    <td>ارسال کننده</td>
                    <td>شماره نامه</td>
                    <td>دریافت کننده</td>
                    <td>عملیات</td>
                </tr>

                @foreach (var letter in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td><a href="/Personnel/Letter/letterInfo/@letter.LetterId">@letter.Title</a></td>
                        @switch (letter.SendDepartmentId)
                        {
                            case 1:
                                <td>
                                    @ViewBag.departmentNames[0]
                                </td>

                                break;
                            case 2:
                                <td>
                                    @ViewBag.departmentNames[1]
                                </td>
                                break;
                            case 3:
                                <td>
                                    @ViewBag.departmentNames[2]
                                </td>
                                break;
                            case 4:
                                <td>
                                    @ViewBag.departmentNames[3]
                                </td>
                                break;
                            case 5:
                                <td>
                                    @ViewBag.departmentNames[4]
                                </td>
                                break;
                            case 6:
                                <td>
                                    @ViewBag.departmentNames[5]
                                </td>
                                break;
                            case 7:
                                <td>
                                    @ViewBag.departmentNames[6]
                                </td>
                                break;
                            case 8:
                                <td>
                                    @ViewBag.departmentNames[7]
                                </td>
                                break;
                            case 9:
                                <td>
                                    @ViewBag.departmentNames[8]
                                </td>
                                break;
                            case 10:
                                <td>
                                    @ViewBag.departmentNames[9]
                                </td>
                                break;
                            case 11:
                                <td>
                                    @ViewBag.departmentNames[10]
                                </td>
                                break;
                            case 12:
                                <td>
                                    @ViewBag.departmentNames[11]
                                </td>
                                break;
                            case 13:
                                <td>
                                    @ViewBag.departmentNames[12]
                                </td>
                                break;
                            case 14:
                                <td>
                                    @ViewBag.departmentNames[13]
                                </td>
                                break;
                            case 15:
                                <td>
                                    @ViewBag.departmentNames[14]
                                </td>
                                break;
                            case 16:
                                <td>
                                    @ViewBag.departmentNames[15]
                                </td>
                                break;
                            case 17:
                                <td>
                                    @ViewBag.departmentNames[16]
                                </td>
                                break;
                            case 18:
                                <td>
                                    @ViewBag.departmentNames[17]
                                </td>
                                break;
                            case 19:
                                <td>
                                    @ViewBag.departmentNames[18]
                                </td>
                                break;
                            case 20:
                                <td>
                                    @ViewBag.departmentNames[19]
                                </td>
                                break;

                            default:
                                <td>
                                    عدم ثبت ارسال کننده
                                </td>
                                break;

                        }


                        <td>@letter.Number</td>
                        <td>@letter.department.Name</td>
                        <td>
                            <input type="button" class="btn btn-primary" id="Archive" name="Archive"
                                   value="بایگانی">
                            <input type="button" class="btn btn-danger" id="Delete" name="Delete"
                                   value="حذف">
                        </td>
                    </tr>
                    count++;
                }
            </table>
        </div>
        <ul class="d-flex justify-content-center m-2" dir="ltr">
            @for (int i = 1; i <= (ViewBag.PageCount) + 1; i++)
            {
                <li class="pr-2 @(((int)ViewBag.PageID==i)?"active":"")"><a href="/Personnel/Dashboard/ShowAllLetters?pageid=@i">@i</a></li>
            }
        </ul>
    </div>
</section>

