
<section class="col-4">
    <div class="bg-gray text-center">
        <h4>کارتابل شما</h4>
        <div class="bg-white container pt-2 pb-2">
            <ul class="list-group">

                <li>
                    <a href="/Personnel/Dashboard/Index"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        مشاهده‌
                        نامه های
                        دریافتی
                        <span class="badge bg-primary rounded-pill">@ViewBag.letterCount</span>
                    </a>
                </li>
                <li>
                    <a href="/Personnel/Dashboard/ShowSendLetters"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        مشاهده‌
                        نامه های
                        ارسالی
                        <span class="badge bg-primary rounded-pill">@ViewBag.letterSendCount</span>
                    </a>
                </li>
                <li>
                    <a href="/Personnel/Dashboard/ShowUnreadLetters"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        مشاهده‌

                        نامه های خوانده نشده <span class="badge bg-primary rounded-pill">@ViewBag.UnreadLettersCount</span>
                    </a>
                </li>
                <li>
                    <a href="/Personnel/Dashboard/ShowAllLetters"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        مشاهده‌
                        همه نامه ها
                        <span class="badge bg-primary rounded-pill">@ViewBag.letterCountAll</span>
                    </a>
                </li>
                <hr class="bg-black">
                <li>
                    <a href="/Personnel/Letter/letterCreate"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        ارسال نامه جدید
                    </a>
                </li>
                <li>
                    <a href="/Personnel/Message/SendMessage"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        ارسال پیام شخصی
                    </a>
                </li>
                <li>
                    <a href="/Personnel/Message/MessageList"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        مشاهده‌ پیام های شخصی <span class="badge bg-primary rounded-pill">@ViewBag.PrivateMessageCount</span>
                    </a>
                </li>
                <hr class="bg-black">
                <li>
                    <a href="search_letter.html"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        جستجو نامه ها
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        بایگانی نامه ها
                    </a>
                </li>
                <li>
                    <a href="#"
                       class="list-group-item d-flex justify-content-between align-items-center">
                        خروج از حساب کاربری
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>




